<section class="row">
  <article class="column">
  <div>
  <div class>
    <button phx-click="github_deploy">Desplegar a Github</button>
    <div class="github-deploy">
      Estado: <%= @deploy_step %>
    </div>
  </div>
</div>
  </article>
</section>
