<section class="row">
  <article class="column">
<div>
  <div class>
    <button phx-click="crear_app">Crear app de React</button>
    <div class="crear-app">
      Estado: <%= @crear_step %>
    </div>
  </div>
</div>
  </article>
</section>
